<div class="container-fluid">
    <div class="row ">
        <div class="title-segment text-center col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <h2 class="text-center col-12 col-sm-12 col-lg-4 col-xl-9">Listado de segmentos</h2>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <button type="button" class="col-12 col-sm-12 col-lg-9 col-xl-6 btn btn-primary float-right">NUEVO SEGMENTO</button>
        </div>
      
    </div>
    <div class="row ">
        <div class="title-suggest col-10">
            <span>Puedes tener un máximo de 3 items en esta lista.</span>
        </div>

    </div>
    <app-datatables></app-datatables>
   
   
</div>